@media (min-width:320px) { 
  .wrap {
    font-size: 12px;
  }
}

@media (min-width:480px) {
  .wrap {
    font-size: 16px;
  }
}

@media (min-width:640px) {
  .wrap {
    font-size: 20px;
  }
}

@media (min-width:768px) {
  .wrap {
    font-size: 24px;
  }
}

@media (min-width:960px) {
  .wrap {
    font-size: 28px;
  }
}

@media (min-width:1024px) {
  .wrap {
    font-size: 32px;
  }
}

@media (min-width:1280px) {
  .wrap {
    font-size: 36px;
  }
}
